
/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;700&display=swap');

/* Css File Imports */
@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/pricing.css");
@import url("sections/client.css");
@import url("sections/about.css");
@import url("sections/footer.css");
@import url("sections/contact.css");

/* CSS Variables */

@font-face {
  font-family: 'GRIFTER';
  src: url('/assets/GRIFTERBold.eot');
  src: url('/assets/GRIFTERBold.eot?#iefix') format('embedded-opentype'),
      url('/assets/GRIFTERBold.woff2') format('woff2'),
      url('/assets/GRIFTERBold.woff') format('woff'),
      url('/assets/GRIFTERBold.ttf') format('truetype'),
      url('/assets/GRIFTERBold.svg#GRIFTERBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #111111;
  /* --secondary-color: #B0E356; */
  --secondary-color: #3CE207;
  --black-200:


  --playfair-display: "Playfair Display", serif;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --catamaran:'Catamaran', sans-serif;;
}
html{
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: white;
  font-family:  "Plus Jakarta Sans", sans-serif;;
  /* overflow-x: hidden; */

 
}

body {
  /* max-width: 1280px; */
  margin: 0 auto;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

.parent_div {
  /* filter: blur(3px); */
}


a {
  text-decoration: none;
  color: inherit;

}

section {
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  margin-bottom: 150px;
  
}


.floating-btn{
  z-index: 100;
  background-color: #3CE207;
  display: flex;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  color: black;
  background-color: var(--secondary-color);
  font-family: "Plus Jakarta Sans", sans-serif;
}



.color-green {
  color: var(--secondary-color);
}

.logo{
  height: 50px;
}

