.about-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .about-us video {
  margin-top: 100px;
  width: 100%;
  border-radius: 20px;
} */

.about-us__container {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;

}

.about-us__container img {
  /* width: 30%; */
  border-radius: 5px;
}


.about-us__title {
  font-size: 24px;
  background: var(--secondary-color);
  padding: 8px 20px;
  border-radius: 5px;
  max-width: max-content;
  margin-bottom: 20px;
  color: black;
  
}

.about-us__subtitle {
  font-size: 40px;
  font-family: 'GRIFTER', 'sans-serif';;
  margin-bottom: 20px;
}
.about-us__description {
  margin-bottom: 20px;       /* Spacing below the description */
  font-size: 16px;         /* Font size for the description */
  max-width: 640px;
}

.about-us__content img {
  order: 2; /* Order in the flex layout */
}



/* Learn More Button */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: 'GRIFTER', 'sans-serif';
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--secondary-color);
  border-radius: 5px;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid white;
  border-right: 0.125rem solid white;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: white;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: white;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: white;
 }

 @media (max-width: 480px) {
  .mark{
    width: 300px;
  }
  .about-us__subtitle{
    font-size: 36px;
  }
 }
 
 @media (max-width: 768px) {
 
 }
 
 @media (max-width: 1024px) {
 
 }
 
 @media (max-width: 1200px) {
  .about-us__container {
    flex-direction: column-reverse;
    text-align: center;
    padding: 20px;
  }

  .about-us__description{
    padding: 20px;
  }
 }