
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 0 5%;
  background-color: #111111;
 height: 100px;
}

.logo{
  height: 50px;
  
}

.header__logo ion-icon{
  padding: 20px 0px;
  margin-left: 10px;
  font-size: 32px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.header__menu {
  float: right;
  margin-right: 20px;
  align-items: center;
}

.header__menu li {
  display: inline-block;
  margin: 0 20px;
  font-size: 16px;
 
}

.header__btn-started {
  padding: 20px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  color: black;
  background-color: var(--secondary-color);
  font-family: "Plus Jakarta Sans", sans-serif;;
  
}

.checkbtn {
  font-size: 30px;
  float: right;
  display: none;
  cursor: pointer;
  line-height: 80px;
  margin-right: 40px;
}

#check{
  display: none;
}

@media (max-width: 480px) {

}

@media (max-width: 768px) {

}

@media (max-width: 1024px) {
  .checkbtn{
    display: block;
  }

  .header__menu {
    position: fixed;
    width: 100%;
   ;
    background-color: #111111;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 100;
  }
  .header__menu li {
    display: block;
    margin: 10px 0;
  }

  #check:checked ~ .header__menu{
    left: 0;
  }

}

@media (max-width: 1200px) {

}

