.hero{
  margin-top: 100px;

}


.hero__content {
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
  padding: 0 50px;

}

video{
  margin-top: 70px;
  border-radius: 5px;
}

.hero__content img {
  width: 100%;
}

.hero__title {
  font-size: 64px;
  font-family: 'GRIFTER', 'sans-serif';
  margin-top: 80px;
}

.hero__description {
  font-size: 28px;
  font-weight: 400;
  font-family: var(--plus-jakarta-sans);
  margin-bottom: 30px;
  line-height: 3rem;
  text-transform: uppercase;
}


.stripe {
  background-color: var(--secondary-color);  
  height: 80px;  
  width: 100vw;
  position: relative; 
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 100px;

}

.stripe span {
  color: black;
  font-family:  'GRIFTER', 'sans-serif';
  margin-right: 100px;
  font-weight: bold;
}

.hero__buttons {
  max-width: 400px;
  display: flex;
  float: left;
  gap: 20px;
}

.session__button{
  max-width: 400px; 
  text-align: center;
  display: block;
  background-color: var(--secondary-color);
  padding: 5px 10px;
  margin-bottom: 5px  ;
}

.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all  .2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}

.stripe {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  height: 70px;
  position: relative;
  /* width: 100vw; */
  overflow: hidden;  /* To ensure the overflowing part of the text is hidden */
}

.scrolling-text {
  white-space: nowrap;  /* To ensure the text doesn't wrap to the next line */
  position: relative;
  left: 100%;  /* Start from the right end of the container */
  animation: scrollText 25s linear infinite; /* Animation to scroll the text */
  color: black;
  font-family: 'GRIFTER', 'sans-serif';
  font-size: 40px;
  
}

@keyframes scrollText {
  0% {
    left: 100%;  /* Starting position */
  }
  100% {
    left: -100%;  /* Ending position */
  }
}

@media (max-width: 480px) {
.hero__title{
  margin-top: 30px;
  font-size: 48px;
}
.hero__description{
  font-size: 24px;
}
.hero__content{
  padding: 0 20px;
}
}

@media (max-width: 768px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 1200px) {
.hero__content{
  flex-direction: column;
 
}
.text-wrapper{
  text-align: center;
}
.hero__buttons{
  margin-left: auto;
  margin-right: auto;
  float: none;
}
}